<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
    <div ng-app="treeApp" ng-controller='treeCtrl' >
        <div class="treeTitle">{{treeTitle}}</div>
        <div class="treeRoot">
            <script type="text/ng-template" id="contactTree">
                <span ng-class="{active: contact.id == selectedGroupID}" ng-click="showHideContacts(contact)">{{ contact.name }}</span>
                <ul ng-if="contact.id==selectedGroupID || (selectedGroupID=='6' && contact.id=='1')">
                   <li ng-repeat="contact in contact.contacts" ng-include="'contactTree'"></li>
                </ul>
            </script>
            <ul>
                <li ng-repeat="contact in contacts" ng-include="'contactTree'"></li>
            </ul>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>